.about {
    background-image: linear-gradient(180deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%), url(../images/bg-about.jpg);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 150px;

    @media screen and (max-width: 1400px) {
        background-image: linear-gradient(180deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%),
            linear-gradient(336deg, #010203 8.85%, rgba(1, 2, 3, 0) 86.98%),
            url(../images/bg-about.jpg);
    }

    &__title {
        margin-bottom: 100px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 150px;
        }

        @media screen and (max-width: 1270px) {
            justify-content: center;
        }
    }

    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 1270px) {
            text-align: left;
            align-items: center;
        }

    }

    &__center {
        flex-direction: row-reverse;

        button {
            margin-bottom: auto;
        }

        table {
            margin-bottom: 20px;
        }
    }

    &__img {
        margin-right: 96px;


        img {
            height: 100%;

            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }

        @media screen and (max-width: 1270px) {
            text-align: center;
            width: 100%;
            margin: 0;
            margin-bottom: 60px;
        }
    }

    &__center-img {
        margin-right: 0;
        margin-left: 96px;

        @media screen and (max-width: 1270px) {
            margin: 0;
            margin-bottom: 60px;
        }
    }

    &__center {
        flex-direction: row-reverse;
    }

    &__heading {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 5px;
    }

    &__sub-heading {
        font-size: 12px;
        color: $color-primary;
        text-transform: uppercase;
        margin-bottom: 31px;
    }

    &__text-box {
        display: flex;
        max-width: 600px;
        justify-content: space-between;
        margin-bottom: 50px;

        &>* {
            width: 165px;

            &:not(:last-child) {
                margin-right: 53px;
            }

            @media screen and (max-width: 700px) {
                margin: 0;
                margin-bottom: 20px;
                width: 100%;
                text-align: center;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }

        @media screen and (max-width: 700px) {
            flex-wrap: wrap;
            line-height: 25px;
        }
    }

    // &__text {
    //     line-height: 22px;
    // }

    &__table {
        margin-bottom: 20px;
        display: block;
        border-collapse: collapse;

        &-tr {
            border: 1px solid #fff;
            border-left: none;
            border-right: none;
        }

        &-td {
            text-align: center;
            padding: 10px 30px 13px 0;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        @media screen and (max-width: 1270px) {
            margin-bottom: 60px;
        }

        @media screen and (max-width: 630px) {
            display: none;
        }
    }

    &__span--lg {
        font-size: 36px;
        font-weight: bold;
        display: block;
    }

    &__span--sm {
        font-size: 14px;
        font-weight: bold;
    }

    &__price {
        margin-bottom: 43px;
        text-align: center;

        @media screen and (max-width: 700px) {
            font-size: 12px;
        }
    }

    &__btn {
        text-transform: uppercase;
        font-size: 18px;
        color: inherit;
        background-color: transparent;
        padding: 20px 0;
        border: 1px solid #fff;
        cursor: pointer;
        transition: .2s;
        display: inline-block;
        max-width: 300px;

        @media screen and (max-width: 1270px) {
            padding: 20px 27px;
        }

        @media screen and (max-width: 700px) {
            font-size: 14px;
            padding: 15px 20px;
        }

        &:hover {
            background-color: rgba(266, 266, 266, .1);
        }
    }
}