*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}


@font-face {
    font-family: 'spaceagecyrillic';
    src: url('/fonts/SpaceAgeCyrillic-Regular.woff2') format('woff2'),
        url('/fonts/SpaceAgeCyrillic-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'sf-pro-display';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: inherit;
}




.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    font-family: 'spaceagecyrillic';
    font-size: 48px;
}