.how {
    padding: 100px 0;
    background-image:
        linear-gradient(3deg, #010203 0%, rgba(1, 2, 3, 0) 100%),
        url(../images/bg-how.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 1400px) {
        background-image: linear-gradient(181deg, #010203 0%, rgba(1, 2, 3, 0) 100%),
            url(../images/bg-how.jpg);
    }

    &__title {
        margin-bottom: 100px;

        @media screen and (max-width: 1140px) {
            text-align: center;
        }

        @media screen and (max-width: 800px) {
            margin-bottom: 60px;
        }

        @media screen and (max-width: 700px) {
            margin-bottom: 40px;
        }
    }

    &__wrapper svg {

        width: 100%;

        @media screen and (max-width: 1200px) {
            height: 60vh;
        }

    }

    &__wrapper circle,
    text,
    g p {
        transition: .4s;
        cursor: pointer;
        font-family: 'sf-pro-display';

    }

    &__wrapper p-545 {
        width: 240px;

    }

    &__wrapper p-236 {
        width: 93px;
        text-align: right;
    }

    &__wrapper g:hover circle {
        r: 20px;
        fill: $color-primary;
    }

    &__wrapper g:hover text {
        fill: $color-primary;
        font-size: 26px;
    }

    &__wrapper g:hover p {
        color: $color-primary;
        font-size: 26px;
    }

    // &__wrapper foreignObject:hover p-236 {
    //     color: $color-primary;
    //     font-size: 26px;
    // }
}