.how {
    padding: 100px 0;
    background-image: url(../images/bg-how.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        margin-bottom: 100px;
    }

    &__wrapper circle,
    text,
    g p {
        transition: .4s;
        cursor: pointer;
        font-family: 'sf-pro-display';

    }

    &__wrapper p-545 {
        width: 240px;

    }

    &__wrapper p-236 {
        width: 93px;
        text-align: right;
    }

    &__wrapper g:hover circle {
        r: 20px;
        fill: $color-primary;
    }

    &__wrapper g:hover text {
        fill: $color-primary;
        font-size: 26px;
    }

    &__wrapper g:hover p {
        color: $color-primary;
        font-size: 26px;
    }

    // &__wrapper foreignObject:hover p-236 {
    //     color: $color-primary;
    //     font-size: 26px;
    // }
}