.how {
    padding: 100px 0;
    background-image: url(../images/bg-how.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: -1px;

    &__title {
        margin-bottom: 100px;
    }

    &__wrapper {
        margin: 0 auto;
        max-width: 1000px;
    }

    &__wrapper circle,
    text {
        transition: .4s;
        cursor: pointer;
    }

    &__wrapper g:hover circle {
        r: 20px;
        fill: $color-primary;
    }

    &__wrapper g:hover text {
        fill: $color-primary;
        font-size: 36px;
    }
}